<div class="row meal collapse">
  <div class="large-11 columns">
    <input type="text" placeholder="Add meal information" />
  </div>
  <div class="large-1 columns">
    <button class="postfix alert"><i class="fa fa-times-circle"></i></button>
  </div>
</div>