<div class="row">
  <div class="large-6 columns">
    <div class="actions">
      <h4>Daily Logs</h4>
      <div id="daily-logs"></div>
      <p><a href="#logs/create" class="button">Create Daily Log</a></p>

      <h4>Weekly Summaries</h4>
      <div id="weekly-summaries"></div>
      <p><a href="#summaries/create" class="button">Create Weekly Summary</a></p>
    </div>
  </div>
  <div class="large-6 columns">
    <div id="profile" class="profile"></div>
  </div>
</div>

