<dl>
  <dt>Name</dt>
  <dd>{{name}}</dd>

  <dt>Starting Weight</dt>
  <dd>{{startingWeight}} pounds</dd>

  <dt>Starting Body Fat</dt>
  <dd>{{startingBodyFat}}%</dd>

  <dt>Starting BMI</dt>
  <dd>{{startingBMI}}</dd>
</dl>
<a href="#profile/edit" class="button small">Edit Profile</a>